<a href="https://colab.research.google.com/github/pistaacademy/Pandas-Project/blob/Project---3/Project_03_Cleaning_Data_Movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## First Steps

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("movies_dataset.csv", low_memory=False)

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.genres[0]

In [ ]:
df.belongs_to_collection[0]

## Dropping irrelevant Columns

In [ ]:
df.info()

In [ ]:
df.adult.value_counts()

In [ ]:
df.drop(columns = ['adult'], inplace = True)

In [ ]:
df.drop(columns = ['imdb_id'], inplace = True)

In [ ]:
df.drop(columns = ['original_title'], inplace = True)

In [ ]:
df.drop(columns = ['video'], inplace= True)

In [ ]:
df.drop(columns = ['homepage'], inplace= True)

## How to handle stringified JSON columns (Part 1)

In [ ]:
import json
import ast

In [ ]:
json_col = ["belongs_to_collection", "genres", "production_countries", 
            "production_companies", "spoken_languages"]

In [ ]:
df.belongs_to_collection[0]

In [ ]:
json1 =  "{'dog':3, 'cat':5}"

In [ ]:
#json.loads(json1)

In [ ]:
json2 = '{"dog":3, "cat":5}'

In [ ]:
json.loads(json2)

In [ ]:
json1.replace("'", '"')

In [ ]:
json.loads(json1.replace("'", '"'))

In [ ]:
df.genres.apply(lambda x: json.loads(x.replace("'", '"')))[0]

In [ ]:
ast.literal_eval(json1)

In [ ]:
ast.literal_eval(json2)

In [ ]:
df.genres.apply(ast.literal_eval)[0]

In [ ]:
df.genres = df.genres.apply(ast.literal_eval)

In [ ]:
#df.loc[:, json_col].apply(ast.literal_eval, axis = 0)

In [ ]:
#ast.literal_eval(0)

## How to handle stringified JSON columns (Part 2)

In [ ]:
import numpy as np

In [ ]:
df.belongs_to_collection

In [ ]:
df.belongs_to_collection.apply(lambda x: isinstance(x, str))

In [ ]:
df.belongs_to_collection = df.belongs_to_collection.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [ ]:
df.belongs_to_collection [0]

In [ ]:
df.spoken_languages

In [ ]:
df.spoken_languages = df.spoken_languages.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [ ]:
df.production_countries

In [ ]:
df.production_countries = df.production_countries.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [ ]:
df.production_companies

In [ ]:
df.production_companies = df.production_companies.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [ ]:
df

## How to flatten nested Columns

In [ ]:
df.belongs_to_collection[0]

In [ ]:
df.belongs_to_collection = df.belongs_to_collection.apply(lambda x: x['name'] if isinstance(x, dict) else np.nan)

In [ ]:
df.belongs_to_collection.value_counts(dropna = False).head(20)

In [ ]:
df.genres[0]

In [ ]:
df.genres = df.genres.apply(lambda x: "|".join(i['name'] for i in x))

In [ ]:
df.genres[0]

In [ ]:
df.genres.value_counts(dropna = False).head(20)

In [ ]:
df.genres.replace("", np.nan, inplace = True)

In [ ]:
df.spoken_languages

In [ ]:
df.spoken_languages = df.spoken_languages.apply(lambda x: "|".join(i['name'] for i in x) if isinstance(x, list) else np.nan)

In [ ]:
df.spoken_languages.value_counts(dropna = False).head(20)

In [ ]:
df.spoken_languages.replace("", np.nan, inplace = True)

In [ ]:
df.production_countries

In [ ]:
df.production_countries = df.production_countries.apply(lambda x: "|".join(i['name'] for i in x) if isinstance(x, list) else np.nan)

In [ ]:
df.production_countries.value_counts(dropna = False).head(20)

In [ ]:
df.production_countries.replace("", np.nan, inplace = True)

In [ ]:
df.production_companies

In [ ]:
df.production_companies = df.production_companies.apply(lambda x: "|".join(i['name'] for i in x) if isinstance(x, list) else np.nan)

In [ ]:
df.production_companies.value_counts(dropna = False).head(20)

In [ ]:
df.production_companies.replace("", np.nan, inplace = True)

In [ ]:
df.isna().sum()

In [ ]:
pd.read_csv("movies_metadata.csv", low_memory=False).isna().sum()

## Cleaning Numerical Columns (Part 1)

In [ ]:
df.info()

In [ ]:
#df.budget.astype("float")

In [ ]:
#pd.to_numeric(df.budget)

In [ ]:
df.budget = pd.to_numeric(df.budget, errors = "coerce")

In [ ]:
df.budget.value_counts(dropna = False)

In [ ]:
df.budget = df.budget.replace(0, np.nan)

In [ ]:
df.budget = df.budget.div(1000000)

In [ ]:
df.info()

In [ ]:
df.revenue.value_counts(dropna = False)

In [ ]:
df.revenue = df.revenue.replace(0, np.nan)
df.revenue = df.revenue.div(1000000)

In [ ]:
df.rename(columns = {"revenue":"revenue_musd", "budget":"budget_musd"}, inplace = True)

In [ ]:
df.info()

## Cleaning Numerical Columns (Part 2)

In [ ]:
df.runtime.value_counts(dropna = False).head(20)

In [ ]:
df.runtime = df.runtime.replace(0, np.nan)

In [ ]:
df.info()

In [ ]:
#pd.to_numeric(df.id)

In [ ]:
df.id = pd.to_numeric(df.id, errors = "coerce")

In [ ]:
df.id.value_counts(dropna = False).head(20)

In [ ]:
df.info()

In [ ]:
df.popularity

In [ ]:
#pd.to_numeric(df.popularity)

In [ ]:
df.popularity = pd.to_numeric(df.popularity, errors='coerce')

In [ ]:
df.popularity.value_counts(dropna = False).head(20)

In [ ]:
df.vote_count.value_counts(dropna = False).head(20)

In [ ]:
df.vote_average.value_counts(dropna = False).head(20)

In [ ]:
df.loc[df.vote_count == 0, "vote_average"]

In [ ]:
df.loc[df.vote_count == 0, "vote_average"] = np.nan

In [ ]:
df.info()

## Cleaning DateTime Columns

In [ ]:
df.info()

In [ ]:
df.release_date

In [ ]:
#pd.to_datetime(df.release_date)

In [ ]:
df.release_date = pd.to_datetime(df.release_date, errors = "coerce")

In [ ]:
df.release_date.value_counts(dropna = False).head(20)

## Cleaning Text / String Columns

In [ ]:
df.info()

In [ ]:
df.original_language.value_counts(dropna = False).head(50)

In [ ]:
df.title

In [ ]:
df.title.value_counts(dropna = False).head(20)

In [ ]:
df.overview[0]

In [ ]:
df.overview.value_counts(dropna = False).head(20)

In [ ]:
df.overview.replace("No overview found.", np.nan, inplace = True)

In [ ]:
df.overview.replace("No Overview", np.nan, inplace = True)

In [ ]:
df.overview.replace("No movie overview available.", np.nan, inplace = True)

In [ ]:
df.overview.replace(" ", np.nan, inplace = True)

In [ ]:
df.overview.replace("No overview yet.", np.nan, inplace = True)

In [ ]:
df.tagline.value_counts(dropna = False).head(50)

In [ ]:
df.tagline.replace("-", np.nan, inplace = True)

## Removing Duplicates

In [ ]:
df[df.duplicated(keep =  False)].sort_values(by = "id")

In [ ]:
df.drop_duplicates(inplace = True)

In [ ]:
df[df.duplicated(subset = "id", keep = False)].sort_values(by = "id")

In [ ]:
df.drop_duplicates(subset = "id", inplace = True)

In [ ]:
df.id.value_counts(dropna = False)

## Handling Missing Values & Removing Observations

In [ ]:
df.info()

In [ ]:
df.isna().sum()

In [ ]:
df[df.title.isna()]

In [ ]:
df.dropna(subset = ["id", "title"], inplace = True)

In [ ]:
df.id = df.id.astype("int")

In [ ]:
df.notna().sum(axis = 1).value_counts().sort_values(ascending = False)

In [ ]:
df[df.notna().sum(axis = 1) == 6]

In [ ]:
df.dropna(thresh = 10, inplace = True)

In [ ]:
df.info()

In [ ]:
df.isna().sum()

## Final (Cleaning) Steps

In [ ]:
df.status.value_counts()

In [ ]:
df = df.loc[df.status == "Released"].copy()

In [ ]:
df.drop(columns = ["status"], inplace = True)

In [ ]:
col = ["id", "title", "tagline", "release_date", "genres", "belongs_to_collection", 
       "original_language", "budget_musd", "revenue_musd", "production_companies",
       "production_countries", "vote_count", "vote_average", "popularity", "runtime",
       "overview", "spoken_languages", "poster_path"]

In [ ]:
df = df.loc[:, col]

In [ ]:
df

In [ ]:
df.reset_index(drop = True, inplace =True)

In [ ]:
df.info()

In [ ]:
df.poster_path[0]

In [ ]:
base_poster_url = 'http://image.tmdb.org/t/p/w185/'
df.poster_path = "<img src='" + base_poster_url + df.poster_path + "' style='height:100px;'>"

In [ ]:
df.to_csv("movies_clean.csv", index = False)

In [ ]:
pd.read_csv("movies_clean.csv").info()